@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
$mobile : "screen and (max-width:480px)";
 
#wrap {
    font-family: 'Noto Sans KR';
    header {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: #fff;
        border-bottom: 1px solid red;
        z-Index :1000;
        
        >.lnb-bg {
            display: none;
            position: absolute;
            top: 100px;
            height: 300px;
            width: 100%;
            background-color: #fff;
            z-index: 900;
            border-bottom: 2px solid red;
            >.image {
                position: absolute;
                top: 30px;
                left: 50%;
                width: 500px;
                margin-left: -700px;
                
                >p {
                    height: 230px;
                    background-image: url(./../image/intro.png);
                    background-size: cover;
                    background-position: center center;
                }
            }
        }
        >.header-con {
            position: relative;
            left: 50%;
            width: 1340px;
            height: 100px;
            margin-left: -670px;
            z-Index :1000;
            
            >.logo {
                position: absolute;
                top: 40px;
                width: 230px;
                text-indent: -9999px;
                background-image: url(./../image/logo.png);
                background-size: cover;
                transition: all 0.3s;
                >a{
                    display: block;
                    height: 60px;
                }
            }//end of .logo
            >.snb {
                position: absolute;
                top: 10px;
                right: 0;
                display: flex;
                >p {
                    &:nth-child(1)::after {
                        margin: 0 7px;
                        content: '|';
                    }
                }
            }//end of .snb
            >nav {
                position: absolute;
                top: 50px;
                right: 0;
                z-index: 1000;
                transition: all 0.3s;
                >ul {
                    display: flex;
                    >li {
                        margin-right: 30px;
                        &:nth-child(4) {
                            margin: 0;
                        }
                        >a{
                            font-size: 18px;
                            text-align: center;
                            font-weight: 600;
                            transition: color 0.2s;
                            >span {
                                display: block;
                                color: rgb(122, 122, 122);
                                font-size: 14px;
                                font-weight: normal;
                            }
                        }
                        &:hover>a,&.on>a {
                            color: rgb(210, 0, 0);
                        }
                        >.lnb {
                            display: none;
                            position: absolute;
                            top: 70px;
                            width: 180px;
                            font-size: 18px;
                            // margin-right: 50px;
                            text-align: center;
                            >li {
                                margin-bottom: 5px;
                                >a {
                                    display: block;
                                    font-size: 16px;
                                    font-weight: 600;
                                    
                                    transition: all 0.1s;
                                    &:hover {
                                        color: rgb(210, 0, 0);
                                        background-color: rgba(0, 0, 0, 0.075);
                                    }
                                }
                                &.tit {
                                    margin-bottom: 20px;
                                    font-size: 16px;
                                    font-weight: 600;
                                    >span {
                                        color: grey;
                                        font-size: 13px;
                                        font-weight: normal;
                                    }
                                }
                            }
                        }
                        &:nth-child(1)>.lnb {
                            left: -270px;
                        }
                        &:nth-child(2)>.lnb {
                            left: -70px;
                        }
                        &:nth-child(3)>.lnb {
                            left: 130px;
                        }
                        &:nth-child(4)>.lnb {
                            left: 330px;
                        }//end of .lnb
                    }//end of li
                }
            }//end of nav
        }//end of .header-con
    }//end of header

    section.visual {
        position: relative;
        width: 100%;
        height:700px;
        background-image: url(./../image/bg.jpg);
        background-size: cover;
        background-position-x: center;
        >.visual-con {
            position: absolute;
            top: 100px;
            left: 50%;
            margin-left: -210px;
            text-align: center;
            color: white;
            >h2 {
                font-size: 22px;
                text-shadow: 2px 2px grey;
            }
            >.world {
                position: relative;
                width: 420px;
                height: 60px;
                margin: 0 auto;
                background-image: url(./../image/logo_text.png);
                background-size: 75%;
                background-position-y: center;
                background-repeat: no-repeat;
                >span{
                    position: absolute;
                    top: -7px;
                    right: 0;
                    display: block;
                    font-size: 53px;
                    text-align: right;
                    text-shadow: 2px 2px grey;
                    font-family: 'Arial Rounded MT';
                }
            }
            >.text {
                margin-top: 20px;
                font-size: 15px;
                color: rgb(88, 88, 88);
            }
            @keyframes visualAni {
                0% {top: 50px; opacity: 0;}
                100% {top: 100px; opacity: 1;}
            }
        }//end of .visual-con
        >.scroll {
            position: absolute;
            right: 50%;
            bottom: 10px;
            width: 80px;
            margin-right: -40px;
            color: white;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            animation: scrolldown 1s alternate infinite;
            @keyframes scrolldown {
                from {transform: translateY(-10px);}
                to {transform: translateY(0);}
            }
            >span {
                display: block;
                width: 35px;
                height: 35px;
                margin: 0 auto;
                background-image: url(./../image/down.png);
                background-size: contain;
            }
        }//end of .scroll
    }//end of section

    section.new {
        position: relative;
        width: 100%;
        height:1020px;
        >.newBG {
            position: absolute;
            right: 0;
            width: 60%;
            height: 100%;
            text-indent: -9999px;
            background-color: rgb(202, 202, 202);
        }
        >.new-con {
            position: absolute;
            width: 90%;
            height: 700px;
            top: 50%;
            margin-top: -350px;
            background-color: rgb(163, 163, 163);
            >h2 {
                display: none;
                position: absolute;
                top: 350px;
                left: 50%;
                margin-left: -60px;
                color: rgb(100,100,100);
                font-size: 34px;
            }
            >.slide {
                position: absolute;
                top: 100px;
                left: 50%;
                width: 500px;
                height: 500px;
                margin-left: -600px;
                // border: 1px solid #000;
                overflow: hidden;
                >.Nslide-con {
                    position: absolute;
                    left: -2000px;
                    width: calc(100% * 12);
                    display: flex;
                    >p {
                        width: calc(100% / 12);
                        >img {
                            width: 100%;
                            height: 500px;
                        }
                    }
                }//end of .Nslide-con
                >p {
                    position: absolute;
                    top:45%;
                    width: 30px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    &.prev {
                        left: 1%;
                        background-image: url(./../image/prev.svg);
                    }
                    &.next {
                        right: 1%;
                        background-image: url(./../image/next.svg);
                    }
                    >a {
                        display: block;
                        height: 40px;
                        text-indent: -99999px;
                    }
                }
                >.indicator {
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    margin-left: -40px;
                    >span {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        text-indent: -9999px;
                        background-image: url(./../image/bul.png);
                        &.on {
                            background-position-y: -18px;
                        }
                    }
                }//end of .pagination
            }//end of .slide
            >.new-text {
                position: absolute;
                bottom: 100px;
                left: 50%;
                width: 850px;
                height: 110px;
                margin-left: -60px;
                font-size: 28px;
                overflow: hidden;
                >ul{
                    position: relative;
                    left: calc(850px * -4);
                    display: flex;
                    flex-flow: row nowrap;
                    width: calc(850px * 12);
                    >li {
                        width: 850px;
                        >strong {
                            display: block;
                            margin-bottom: 12px;
                            font-size: 36px;
                        }
                    }
                }
            }//end of .new-text
        }//end of .new-con
    }//end of section.new

    section.product {
        position: relative;
        width: 100%;
        height:1020px;
        >.product-con {
            position: absolute;
            top: 50px;
            left: 50%;
            width: 90%;
            height: 90%;
            margin-left: -45%;
            >h2 {
                position: absolute;
                top: 0;
                right: 40px;
                margin-top: 230px;
                margin-right: 150px;
                color: grey;
                font-size: 26px;

            }
            >.pdIMG-con{
                position: relative;
                right:-120px;
                opacity: 0;
                height: 910px;
                @keyframes productImg {
                    0% {
                        right:-100px;
                        opacity: 0;
                    }
                    100% {
                        right: 0;
                        opacity: 1;
                    }
                }
                @keyframes productImgRe {
                    0% {
                        right: 0;
                        opacity: 1;
                    }
                    100% {
                        right:-100px;
                        opacity: 0;
                    }
                }
                >p {
                    position: absolute;
                    width: 350px;
                    height: 250px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border: 5px solid #ddd;
                    box-sizing: border-box;
                    overflow: hidden;
                    
                    &:nth-child(1) {
                        top: 50px;
                        right: 810px;
                    }
                    &:nth-child(2) {
                        top: 50px;
                        right: 430px;
                    }
                    &:nth-child(3) {
                        right: 430px;
                        bottom: 335px;
                    }
                    &:nth-child(4) {
                        right:50px;
                        bottom: 335px;
                    }
                    &:nth-child(5) {
                        right:50px;
                        bottom: 55px;
                    }
                    &:hover {
                        box-shadow: 5px 5px 5px rgb(85, 85, 85);
                    }
                    >img {
                        width: 100%;
                        transition: all 0.3s;
                    }
                    &:hover>img {
                        transform: scale(1.1);
                    }
                }
            }
            >p {
                position: absolute;
                top: 50px;
                left: 50px;
                color: red;
                font-size: 34px;
                font-weight: 600;
            }
            >.line{
                >span {
                    position: absolute;
                    display: block;
                    &.ver {
                        top: 120px;
                        left: 53px;
                        height: 0;
                        border-right: 5px solid red;
                    }
                    &.hor {
                        left: 54px;
                        bottom: 60px;
                        width: 0; 
                        border-top: 5px solid red;
                    }
                }
                @keyframes verline {
                    0% {height: 0;}
                    100% {height: 738px;}
                }
                @keyframes horline {
                    0% {width: 0;}
                    100% {width: 800px;}
                }
                @keyframes verlineRe {
                    0% {height: 738px;}
                    100% {height: 0px;}
                }
                @keyframes horlineRe {
                    0% {width: 800px;}
                    100% {width: 0px;}
                }
            }//end o f.line
        }//end of .product-con
    }//end of section.product

    section.service{
        position: relative;
        width: 100%;
        height:1020px;
        >.service-bg {
            position: absolute;
            top: 50%;
            width: 100%;
            height: 120px;
            margin-top: -95px;
            text-indent: -9999px;
            background-color: red;
        }
        >.service-con {
            position: absolute;
            top: 60%;
            opacity: 0;
            left: 50%;
            display: flex;
            justify-content: space-around;
            width: 80%;
            height: 400px;
            margin: -200px 0 0 -40%;
            @keyframes service {
                0% {top: 60%; opacity: 0;}
                100% {top: 50%; opacity: 1;}
            }
            @keyframes serviceRe {
                0% {top: 50%; opacity: 1;}
                100% {top: 60%; opacity: 0;}
            }
            >.service {
                position: relative;
                width: 330px;
                height: 380px;
                
                >.img {
                    position: relative;
                    width: 100%;
                    height: 330px;
                    // text-indent: -9999px;
                    border: 25px solid #ccc;
                    box-sizing: border-box;
                    transition: all 0.2s;
                    overflow: hidden;
                    >img {
                        display: block;
                        height: 100%;
                        margin-left: -120px;
                    }
                }
                > p:nth-child(2) {
                    margin-top: 10px;
                    font-size: 20px;
                    text-align: center;
                    &::before {
                        content:'';
                    }
                }
                >.plus {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin: -50px 0 0 -25px;
                    text-indent: -9999px;
                    background-image: url(./../image/white_plus.svg);
                    background-color: #ddd;
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 25px;
                    transition: all 0.2s;
                }
                &:hover>.img {
                    border-color: red;
                }
                &:hover>.plus {
                    background-color: red;
                }
            }//end of .service
        }//end of service-con
    }//end of section.service

    aside {
        position: fixed;
        // right:50%;
        right: 60px;
        bottom: 50px;
        // margin-right: -870px;
        z-index: 1000;
        >button {
            border: none;
            outline: none;
            background: none;

            width: 40px;
            height: 40px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            background-color: yellow;
            border-radius: 10px;
            cursor: pointer;
        }
        >p {
            width: 40px;
            background-color: rgba(0, 0, 0, 0.411);
            border-radius: 10px;
            background-image: url(./../image/up-arrow.svg);
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center center;
            >a {
                height: 40px;
                display: block;
                text-indent: -9999px;
            }
        }
    }

    footer {
        position: relative;
        // height: 100px;
        padding: 30px;
        background-color: #ccc;
        >p {

        }
        >address {
            color: rgb(102, 102, 102);
            // margin-top: 4px;
            font-size: 12px;
            line-height: 20px;
            >span {
                display: block;
                color: #000;
            }
        }
    }
}